.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border-radius: 18px;
    font-family: Raleway, sans-serif;
    padding: 20px;
    width: calc(33.33% - 1px);
    box-sizing: border-box;
    background-color: #070F29;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: fit-content;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .card {
        width: calc(50% - 20px);
    }
}

.exams {
    font-family: Raleway, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #070F29;
    text-align: center;
    margin-bottom: 20px;
}

.exam-title {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.exam-prop {
    margin: 5px 0;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

.exam-pass {
    text-decoration: none;
    background-color: #DE6E1E;
    color: white;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 2;
}

.exam-pass:hover {
    background-color: #c65a1a;
}

.clic {
    text-align: left;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeInUp 1s ease-out forwards;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #DE6E1E;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    position: fixed;
    top: 90%;
    left: 92%;
}

.create:hover {
    background-color: #c65a1a;
}

.buttons {
    display: flex;
    margin-top: 15px;
}

.hat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.but {
    text-decoration: none;
    background-color: #DE6E1E;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.delete {
    width: 20px;
    cursor: pointer;
}

#b2 {
    margin-left: 10px;
}

.but:hover {
    background-color: #c65a1a;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
}

.card .highlight {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease;
}
