.container {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}

.page-title {
    color: #070F29;
    font-family: Raleway;
}

.tabl {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.column-name {
    font-family: Raleway;
    color: #DE6E1E;
    text-align: left;
}

.table-line {
    text-align: left;
}

.column-text {
    font-family: Poppins;
    padding: 10px 0;
    text-align: left;
}

.search-group {
    display: flex;
    justify-content: space-between;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #DE6E1E;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    position: fixed;
    top: 90%;
    left: 92%;
}

.create:hover {
    background-color: #c65a1a;
}


.search-ipt,
.filter-ipt {
    font-family: Poppins;
    border-radius: 15px;
    border: 1px solid #DE6E1E;
    padding: 10px 20px;
    transition: all 0.5s;
}

.search-ipt:focus,
.filter-ipt:focus {
    border-color: #DE6E1E;
    outline: none;
    box-shadow: 1px 1px 10px #DE6E1E;
}

.filter {
    margin-bottom: 10px;
}

.filter-ipt {
    padding: 10px 26px;
}

.column-image {
    cursor: pointer;
    margin: 0 5px;
    width: 20px;
}

.links-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding: 0 33%;
}

.link-button {
    position: relative;
    padding: 10px 20px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    color: #070F29;
    text-decoration: none;
    transition: color 0.3s;
}

.link-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #EBA573;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.link-button:hover::after,
.link-button.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.link-button:hover {
    color: #EBA573;
}

.edit-input{
    padding: 5px 0;
    font-family: Poppins;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DE6E1E;
    background-color: transparent;
    color:#070F29;
}

.edit-input:focus{
    outline: none;
}

.approve-btn{
    font-weight: 500;
    padding: 5px 10px;
    font-family: Poppins;
    border: 2px solid #070F29;
    border-radius: 15px;
    background-color: transparent;
    color:#070F29;
    cursor: pointer;
    transition: all 0.3s;
}

.approve-btn:hover{
    background-color: #070F29;
    color: white;
}
